.git
backend/bootstrap/cache/*
backend/public/dist/*
backend/storage/app/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/logs/*
backend/vendor
